.about {
    margin-top:2vh;
    .row {
        margin: 20px 0;
    }
    hr {
        width:66px;
    border-width: 3px;
    border-color:#757575;
    }
    h1 {
        width:100%;
        text-align:center;
    }
}