header {
    position:relative;
    width:100%;
    background:url('images/header.jpg');
        /* Set a specific height */
    height:100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    .intro-content {
        opacity: 1;
    }
}